* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}
html {
    display: inline;
}
::-webkit-scrollbar {
    display: none;
}
/* ENCABEZADO (VA EL LOGO Y EL MENU) */
#encabezado {
    background-color: #0B2447;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}
#encabezado h2{
    color: white;
    text-align: center;
    font-size: 1em;
}
nav {
    background-color: #116be9;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 97.5px;
}
.logo {
    height: 60px;
    filter: invert(1);
}
.logo-alt {
    height: auto;
    width: 70px;
}
nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul {
    position: fixed;
    top: 135px;
    width: 100%;
    height: 90%;
    background: #116be9;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
}
nav ul li {
    display: block;
    line-height: 70px;
    text-transform: uppercase;
}
nav ul li a {
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    align-items: center;
}
li a.active, li:hover {
    background: #154587;
    transition: .5s;
    border-radius: 5px;
}
.checkbtn {
    font-size: 20px;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}
#check:checked ~ ul {
    left: 0;
}
#check {
    display: none;
}



/*CUERPO DEL HTML COMO TAL*/
#hero {
    display: block;
    text-align: center;
    height: 100vh;
    background-image: url("https://lh3.googleusercontent.com/fife/APg5EOaykSKzNJtGVD2c9uJu6TrFg--ejsWaH1inq-DO-pNQiBslAnoI2d-Lu_yOJBGdbkMFxS-tdfPxCs8v6sWHtWx0wOQV0I5lkj67Y_K9VCBhkPth4n1VM7e67RAmn6-ybaET0oeDaDLuev0hkt8iVm_YPazxWv6K8gLETPmF21ntPlKcRNpREvYr7vOIccko-wV6eoF3KhVqoaHObp3L2Zf799wVTaV54yetn-ffUJDz6wbwVbqetaPnVE-nuALCJwnhE4VVE0enG0K7qFxLRFcHVwNiG2AyJ7T2-g9_6T7ggp3PH0-c2ab3FqqSF_pgAD5DJy_YvI2k1LOd30240BYhdxZmKQHnm4RJnXSuDrASRcd2Xz-kp5317AFX0Fo1K_sJYGFRdpMutYfhHYCm3aTVoy_sggCNUHW92ui74lallnovfs7tE5s_ztIkOCrcxQ7lfPKdoIJYkx6J-9tloX2zVNuhe8yr0vCCL1_VaTtG96cFxZzsVxD3mcu_VnO_gVoQ3UK0i4yFOdFVhdd-3dumDwThNHBEZEK2Ef2baPTHd_EOBAAM99O_U1MJysMh4rDQfnp69O99xZtEMxAcDu2O7TZKF9spyNGqkk5ydnBNsIs4V51FofoN1-N8dHvRRocauaUOy22MyN0XFSBgsNWkZCyRBPTb7gWAiZyZGdKE1RQNefac-wkgxcgKMRQcwUsTxV9w3mVTd9VkM9of5m2FvOcrAxJ4Cz1pm5C9hsFBnToq-Lrn4GnuLb56rDw05_EvEKoOHjZ-Sl946JwNM77OvEr8K4tGaf-keKuCozGqbcVamoJdzL1fK3zv76EryfW0el_U2Cz7p40YgwTR9-Gc_hAxUeEIKZ6uA-ILx7AGsaMxwuCXLox_wVSdVm7Zs4cEJwMDB-4aR-6ebZGdNAIz4pWNWpCNC4u1mPREw4gU_arN78lEF-iZYUXzk8pu5Xu5Lk-4cLX8YzUEjWT0GyUz3lmpahZgfejcjCtP-F7RS_Z2SUyptWV8yMh4J2_e8j0TJ4akiA71w3-jwgaN6owUQ6x0FSAEtVwBsDEOcthPh4iqwzsfnIolU6rO--zqRvhmJBNnM7FAYdLwVoN-ANjb9I1dtK3Sxs3eEg-_ObI7qqzyaPqqKXMmmIk2bHIVxxI0Inj8bJ5H72wERmtEEKt0pCBxEPuOVw801Up0PfQ8chYAFmSytpguWf594E-OSoE3GLIy1mA_EXSVwi9rRjwmHGPGDG0_QNtY92cPqhLDg3c3yu471arGZyTlUrAnH-zkIliLpklRVRP935fHVcqseODXnmzl1DkCD5-OgM_sbocEgCSWawK2lqZBcS-bh7kxquofl3VYD2Wt2qmZniR8dksEI3g6lj4qOsjLpGevoStbVCNq7dnPrEY8bWXwnMPOeK3I4fPWDN69HNOJNGLTt8QNjqvCCRMm_X0mlYSTeUcTTyrVtY2kJBplBZl7t6EJWjMSm1BDfEBU9HpMKN4eotXITvFbF-X2iNpEMtG8dd4_Qv22zUdvfzkC1NZL6VW2R0VQbvAKwd0JmbLYmxnKGb3q2SPVit8E-HmsVEXzCrinI2ZvS-VSwLS3Jc0BXyYBMGwfGQ2fxSP3DX3T_HMOFMhPiibtmyDSAT3AAw=w959-h967");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ====================BODY============================ */
body {
    background-color: #E3F6FF;
    font-family: 'Carlito', sans-serif;
}
h1 {
    font-size: 2.5em;
    text-shadow: 2px 0.5px 3px rgba(213, 213, 213, 0.962);
    color: whitesmoke;
}
h2 {font-size: 2em;
    color: #0B2447;
    padding: 20px 20px;
}
h3 {
    font-size: 1.75em;
}
h3 a{font-size: 1em;
    color: snow;
    text-decoration: none;
}
h3 a:hover{
    color: snow;
}
p  a{font-size: 1em;
    color: black;
}
li {font-size: 1em;}
/*================NOTICIAS=======================*/
#noticias h2{
    text-align: left;
}
#noticias {
    background-color: #E3F6FF;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}
#noticias p {
    display: none;
}
#noticias .container {
    padding: 0px 20px;
    padding-bottom: 80px;
}
#noticias .carta {
    padding: 80px 20px;
    margin-block: 100px 0px;
    max-width: 1200px;
    max-height: 200px;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("https://lh3.google.com/u/4/d/1oe21U8yvSy7HRk8No5cN_-I5AcxLtu8n=w1473-h897-iv1");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("https://lh3.googleusercontent.com/fife/APg5EOYM8f5pCjw0V7n67H_y9MQLdPdTdT-mAV4Boo8zLQOZg8M8SA6QQseO2rI3eOyXYB7DYPmL6G_-ilP7H0vhdYf7QimmK1uwWsuMhZTCKyWEbPNfrklOg6pZX2SL2LS78GmfAXSCwj6ZQx9E3zH5hknw0DI0Zu706MrEYcY__LJSCfYDEJwLHAQie-zqOEruB4K84oG_A7TkIv4JpCj1JkebWUlEx9Mp1DNnsxMilkAf0ZI4ZgNY2HuZVwoA0UQTSNnmuSgl0z9NHX2NMm_CUUtke2KiDBJS9djbf7uGib3SkUOtk3afd6nIguktAD4Ulg3L5OJDSsx--KRs5s8C1GbJcEo0dJGUjgpPkU26GtIH_d6tXd9sLgVCEIt8T8FDABvk86oxs6xb0TTueo5-EVzNv_DIq4D8LnPlATLl_jli70yd8evhi-nFnOPFFmF2nmJsr1lvAWk-0xlxdjKb9cckwd42tXMZ-zNG52212z1t2sancUDji4PrY4KUCeoH3tiTYZ0ec9GNgoliLVAaJTX2l9BtKVeNQg8cIK3rttZpt8lOhX0j1peTjzrtaiMqyfnWx_vWWbWM1FKcWCeDpAodL9edCTFjxHbOo2B621SUqsr-z5VosV2PF25ARG-I8gFNhgfg_tY2CYiwGRfWnThRfq106ee7sS3R4Hs_c3uJGYoBIdqg9x-uPURoId57f8r6evQ1qyAU27zJIXdIaZ7NpPJj2sFPJdDf4cGe4FHoCETR-adG88ZV3_6YNmDzyHkxUJVgHmI1K3Mleyx9J4XnMj64VtnpN8h0p2sxh4B5LKPDlzxgDv2OChVpMuV-_B2VtOQW9GBOu9jewe8sEuxM75lB3IvSGjKF2nC6Gqin4T2YROPeI6CwlGwt145hy3-NYMO7MGJyCEvhwsyCC9Cp-3SdUWL_Fh5OFC1iMAmLInmnvuyWgkzGWtA6r1HDnEncNYugen5HM4SEf3fizdWaMYK3p6jzvWqJjI-xTGFs5Krbpu5IetSfQprSLF1N17eKS0ZVt0PAyReK5nWecExRnLTi7r3rIH_ggJRi7JgBiHaPYeoAhETJ11Cdmo7_VGuR4Rqsidbg-1_LrjkmD1kfxM8EidC57AUBkhhu-4WxdUnRYOpOgs-q9Coh1RsTkw1PF5Pwp1V3_Ltzt1BUpsB9bdQPN8bz56xVTE9occAarCIgqfRPD-Z7UzU_ZAsmdVTf4J9lVzq5G2yX4cWFkQM4tCenAV9GFlwpLtfJ3dY5-UeAdHp5zRRjXoL-O9aj0HITpuXpX0kXAVU_PyPi_BRTfgThjIzQmwZ7gZNyvb7MJgSm0D418xkwUCENtEupYFvkZpqTOLI9XNnWvrA1tziZKm7bXs8JTSymOX4gCFhPavs_gShLq8oHlWUkI3F_g5S0yFdBa3e4waAJuDy5WCGs7LNYuHVdUrgLEdQPZzP43aorKzzr0STOr2LRe2icP3fdpRBYXnV4fRUBFDU00a7lWA5LPO7Jy2WUw5vpY3ue5vy8pOxaGytXQxtItymRSiQ0fo62AJtshWGQzsWNFT4GqOytEVoCiUAbYQ7xztG9Jnfo47R5buX4uptwi4hC8qfleLknagOsoDH2IcLONC27tLj3am9oQnrRRc3jug=w1919-h968");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
#mapa {
    background-color: #E3F6FF;
    justify-content: center;
}
iframe {
    border: 0px;
    padding: 20px;
    border-radius: 15px;
}
#mapa p{
    font-size: 1.3em;
    padding: 40px;
}
.fotico {
    max-width: 600px;
}
.texto-mapa2 {
    display: none;
}
.escuela-llegar {
    display: none;
}
footer {
    background-color: #E3F6FF;
}
footer p{
    margin: 20px;
    color: #0B2447;
}
footer .contenedor{
    height: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

/*========== VERSION DESKTOP ====================*/
@media (min-width: 700px) {
/* ENCABEZADO (VA EL LOGO Y EL MENU) */
#encabezado {
    background-color: #0B2447;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
#encabezado h2{
    color: white;
    text-align: center;
    font-size: 2em;
}
nav {
    background-color: #116be9;
    height: 40px;
    width: 100%;
    top: 140px;
}
.logo {
    height: 100px;
    filter: invert(1);
}
.logo-alt {
    height: auto;
    width: 110px;
}
nav ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
    transition: none;
}
nav ul li {
    display: inline-block;
    line-height: 40px;
}
nav ul li a {
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    align-items: center;
}
li a.active, li:hover {
    background: #154587;
    transition: .5s;
    border-radius: 5px;
}
.checkbtn {
    font-size: 20px;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}


 /* cuerpo */   

#hero .contenedor{
        display: block;
        align-items: baseline;
        justify-content: center;
        height: 100vh;
        color: black;
        background-image: linear-gradient(
            0deg,
            #000000,
            #000000,
        ), url("https://lh3.googleusercontent.com/fife/APg5EOb_epLmj8L2U82q_qFKknorprrTw0xTXsV15PxHDB1R0jtQL4orh0dUSEXyIqEMqhoadajALMKPAuSErKXL0gaVXvRxh-i_5kTdNae9fjKPRCMovIDhlqm8cbRT3eg1ckajnlV8_thDngtQGpGxKEtrKGipADvoEYcCfdr8sHfR5HzxHvaLvgOgjkgxY0RMfwXvsiaH7ihD5y_TEmqLHYlLBqkI0CQR_jBZzI_NnwVqLHreFFSUVWbgnHQ--0XBFJ2amFpeF5rG991-Z_GEnnKtllghhHbFrRdkhweHmen4GUg9P6VvkXPdQMnRoyUAozrrkxN0OhHyq-ZI1TJPyHR6MIMs3XBtUOwheLw-dbri0NiBQV5DHbQVNa2EE5R2k0_lbPF708ccxHE7Rf1nTtl6m4TmstkY1pLYPgf1XZ3_c66IO60-QO3lErBfADaES9D2v2VeYXqQ0Ygdpx72wTPokVYiFGpWphV_vAIsisUcobaX3EPbSxMp3Mf52_bnj0XbsaWUkCy2f8f-XKrx7SK2jZoLHK72SDVO7tDeX_qDcgBxynR2G_7eEN5Wy8fme3nRF0FZMD8TaFSIkgljXwKCeKncZsGAkCNHc4gX8iOTuiAdZ1Ok01LNqp4Hs8WEcV5YcWcmKmv_m7l9IEAFV5oRiQvvzv1wMho1QKLR-x5dENt1P7M8UwXp6J7UfBFwtONMSkhopuDvxt1sWX13iLiAdhWhhASlyLNHIXAwE69DqNwHFBhBwOkrApEbovMBgKd3laazOPGu7aeKG8WPmm2u9DdySxDUHjp40J8RCmKJILdiFLQ9oJNDCJvgsJEhXDvuBb1lIJmEBGMIlH1y_OG0maY0epeLnzM4db6VacT46FvCLUqsiDBQqYP8G4ZvA2cOFMq2HIsdOCiUEbrPL6VnFZ2-J5r67Wrs6Jiy99mLeyq-aCXNyXnCerH6ythoEItd0BbJ_qHWVmeZ8YOpGoKwH0sEZRYxGKpFeHS7o78I5GTrQ5i-VqTzoBsr1VxqMIm3qx99otTO6lokhch_M2NZ0qfHFZl2JsBnZFGdeXP3S2jrbQwNHvnBLfmgc_EJ4o7_TRZXWZlMjS2c_nnAjMtwb_He7sCkGtI6irJHf909Xjhkv-BsriE0cDbkgpciaNcKxAZo71UjdaUHJo4cWw_jpNZF6gQWvR3od6FrhrfS7Yp0NS2ENIBSr8EOZDGAIcGLkY_qDBEfvd_Zfy-6XzQefAhMrEqrj369KEW9-zuEjlVhYwv_jtINkZqFtzOPJpn9vd5rylVA_CT4IMdq0E2GGjAShmmLBGsMCwmv9KAi_IMvhqKE-CapNZTt93A0PAiYgvrkiSAq62Z7XLOF1OSdkSx6vZdEtnQaTNN8VOBECJbrQfNUww-igWKcMa64AqNHgZp4hQFJDMIa8ooUNieBamlnXrb_yCjTLObpAbynvUO5ZDpjupCYCmE6_P9GKZgecPOsd3xTIc3uIIuyCjUywZJHMyMdELCURosm1oM72MTd6T4xRY6YZuLN1h_UZTc21Lmqi0e6HVvmnvcMyaWZBPMod7ogvEtk1GwrOksO69aByP73Qtfk7lep2ksS9mvkB6jLteZfvBwX1Whm-OYwsWCe43dfOWAhys_hTQ=w1919-h968");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .1s ease-in-out;
        animation: motionhero 28s infinite linear;
    }
    #noticias h2{
        text-align: center;
    }
    #noticias {
        background-color: #E3F6FF;
        color: snow;
        text-align: center;
        padding: 50px 10px;
        display: flex;
        flex-direction: column;
    }
    #noticias .container {
        padding: 100px 20px;
        display: flex;
        justify-content: center;
    }
    #noticias .carta {
        padding: 100px;
        margin-block: 15px 0px;
        display: block;
        margin: 0px 100px;
        max-width: auto;
        max-height: 900px;
    }
    .tarjeta {
        justify-content: center center;
        text-align: center;
    }
    #noticias p {
        display: flex;
        padding-top: 100px;
        color: white;
    }
    #mapa .container {
        background-color: #E3F6FF;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 20px;
    }
    .mapa-wrap {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .texto-mapa {
        display: none;
    }
    .texto-mapa2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .escuela-llegar {
        width: 100%;
        max-height: 54.5vh;
        padding: 20px;
        display: block;
        border-radius: 30px;
    }
    #mapa h2 {
        text-align: center;
    }
    footer .texto-contacto{
        text-align: left;
    }
    footer h2{
        text-align: center;
    }
}
