* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}
html {
    display: inline;
}
::-webkit-scrollbar {
    display: none;
}
/* ENCABEZADO (VA EL LOGO Y EL MENU) */
#encabezado {
    background-color: #0B2447;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}
#encabezado h2{
    color: white;
    text-align: center;
    font-size: 1em;
}
#menu nav {
    background-color: #116be9;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 97px;
}
.logo {
    height: 60px;
    filter: invert(1);
}
.logo-alt {
    height: auto;
    width: 70px;
}
#menu nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#menu ul {
    position: fixed;
    top: 135px;
    width: 100%;
    height: 90%;
    background: #116be9;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
}
#menu nav ul li {
    display: block;
    line-height: 70px;
    text-transform: uppercase;
}
#menu nav ul li a {
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
    align-items: center;
}
#menu li a.active, li:hover {
    background: #154587;
    transition: .5s;
    border-radius: 5px;
}
.checkbtn {
    font-size: 20px;
    float: right;
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}
#check:checked ~ ul {
    left: 0;
}
#check {
    display: none;
}
body {
    background-color: #E3F6FF;
    font-family: 'Carlito', sans-serif;
}
h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 0.5px 3px rgba(213, 213, 213, 0.962);
    color: whitesmoke;
}
h2 {font-size: 2em;
    color: #0B2447;
    padding: 20px 20px;
}
h3 {
    font-size: 1.4em;
    color: black;
    text-align: center;
}
h3 a{font-size: 1em;
    color: snow;
    text-decoration: none;
}
h3 a:hover{
    color: snow;
}
p, li  {font-size: 1em;
    color: black;
}
footer {
    background-color: #E3F6FF;
}
footer p{
    margin: 20px;
    color: black;
}
footer .contenedor{
    height: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

/* ============= CUERPO ===================*/
#nuevos-ingresos{
    padding-top: 180px;
}
#nuevos-ingresos p{
    padding: 0px 20px;
    color: rgb(160, 159, 159);
}
#regulares p{
    padding: 0px 20px;
    color: rgb(160, 159, 159);
}
.contenedor-texto li:hover {
    background-color: transparent;
}
.contenedor-texto {
    padding: 20px 20px;
    text-align: justify;
}
.contenedor-texto h3 {
    padding: 5px 0px;
}





























/*========== VERSION DESKTOP ====================*/
@media (min-width: 700px) {
    /* ENCABEZADO (VA EL LOGO Y EL MENU) */
    #encabezado {
        background-color: #0B2447;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }
    #encabezado h2{
        color: white;
        text-align: center;
        font-size: 2em;
    }
    #menu nav {
        background-color: #116be9;
        height: 40px;
        width: 100%;
        top: 140px;
    }
    .logo {
        height: 100px;
        filter: invert(1);
    }
    .logo-alt {
        height: auto;
        width: 110px;
    }
    #menu nav ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #menu ul {
        position: relative;
        top: 0px;
        width: 100%;
        height: 100%;
        left: 0;
        text-align: center;
        transition: none;
    }
    #menu nav ul li {
        display: inline-block;
        line-height: 40px;
    }
    #menu nav ul li a {
        padding: 0px 20px;
        border-radius: 5px;
        color: white;
        align-items: center;
    }
    #menu li a.active, li:hover {
        background: #154587;
        transition: .5s;
        border-radius: 5px;
    }
    .checkbtn {
        font-size: 20px;
        float: right;
        line-height: 40px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check {
        display: none;
    }
    footer .texto-contacto{
        text-align: left;
    }
}
