* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    display: inline;
}
::-webkit-scrollbar {
    display: none;
}
/* ENCABEZADO (VA EL LOGO Y EL MENU) */
header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FFE116;
    max-height: 297.54px;
}
header .logo-ppal {
    padding: 10px 25px;
    max-width: 150px;
    height: auto;
    justify-content: start;
}
.logo {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ============= MENU ===================*/
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    color: black;
}
header a:hover {
    color: #1e40d9;
}
body {
    background-color: #85C8F2;
    font-family: 'Carlito', sans-serif;
}
h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 0.5px 3px rgba(213, 213, 213, 0.962);
    color: whitesmoke;
}
h2 {font-size: 2em;
    color: #FFE116;
    padding: 20px 0px;
    text-shadow: 1px 1px 1px black;
}
h3 {
    font-size: 1.4em;
    color: white;
    text-align: center;
}
h3 a{font-size: 1em;
    color: snow;
    text-decoration: none;
}
h3 a:hover{
    color: snow;
}
p, li  {font-size: 1em;
    color: black;
}
/*========================== EDUCACION INICIAL ==========================*/
.contenedor-edu-ini {
    background-color: #d87cf2;
    padding-bottom: 40px;
}
.intro-edu-ini {
    padding: 0px 20px;
    padding-bottom: 40px;
    padding-top: 50px;
    text-align: justify;
}
.cont-materia {
    padding: 20px;
    margin: 20px;
}
.cont-materia p{
    color: white;
    padding-top: 10px;
    font-size: 0.9em;
    text-align: justify;
}
.cont-materia:nth-child(2){ /* LECTO ESCRITURA */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F7523ee00-94c3-403e-aa77-54a76361a634_1702x1309.jpeg");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
.cont-materia:nth-child(3){ /* PROCESO LOGICO MATEMATICO */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://cdn.dribbble.com/users/2175374/screenshots/5337709/back-to-school-f.gif");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
.cont-materia:nth-child(4){ /* ACTIVIDADES COLECTIVAS */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://www.emergingedtech.com/wp/wp-content/uploads/2019/08/Healthy-Positive-Classroom.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
.cont-materia:nth-child(5){ /* INGLES */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://learnlanguagesfromhome.com/wp-content/uploads/2022/12/child-english-whiteboard-1024x683.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
.cont-materia:nth-child(6){ /* EDUCACION FISICA */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://i.pinimg.com/originals/a0/84/65/a08465fcb5cb830adfcbcc3ae9ea1116.gif");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
/*========================== EDUCACION PRIMARIA ==========================*/
.contenedor-edu-prim {
    background-color: #428A24;
}
#edu-primaria .cont-materia:nth-child(2){ /* LENGUA Y LITERATURA */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://humanidades.com/wp-content/uploads/2018/12/don-quijote-1-scaled-e1584976940187.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
#edu-primaria .cont-materia:nth-child(3){ /* MATEMATICA */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://thumbs.gfycat.com/RashVioletDegu-size_restricted.gif");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
#edu-primaria .cont-materia:nth-child(4){ /* INGLES */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://movavi.io/wp-content/uploads/2020/03/vocabulary-cover-en.gif");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
#edu-primaria .cont-materia:nth-child(5){ /* CIENCIAS */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://previews.123rf.com/images/artisticco/artisticco1105/artisticco110500001/9451415-una-ilustraci%C3%B3n-vectorial-de-estudiantes-en-una-clase-de-ciencias-trabajando-en-un-proyecto-de.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}
#edu-primaria .cont-materia:nth-child(6){ /* ESTETICA */
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("https://i.gifer.com/origin/f0/f0669dde35d921a725b28918586cc05f.gif");
    background-position: center center;
    background-size: cover;
    border-radius: 15px;    
}