* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
/* ENCABEZADO (VA EL LOGO Y EL MENU) */
header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FFE116;
}
header .logo-ppal {
    padding: 10px 25px;
    max-width: 200px;
    justify-content: start;
}
/* ============= MENU ===================*/
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 2em;
    font-weight: bolder;
    color: black;
}
header a:hover {
    color: #1e40d9;
}