* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    display: inline;
}
::-webkit-scrollbar {
    display: none;
}
/* ENCABEZADO (VA EL LOGO Y EL MENU) */
header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#FFE116;
    max-height: 297.54px;
}
header .logo-ppal {
    padding: 10px 25px;
    max-width: 150px;
    height: auto;
    justify-content: start;
}
.logo {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ============= MENU ===================*/
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bolder;
    color: black;
}
header a:hover {
    color: #1e40d9;
}
/* CUERPO */
body {
    background-color: #85C8F2;
    font-family: 'Carlito', sans-serif;
}
h1 {
    font-size: 6em;
    text-align: center;
    text-shadow: 2px 0.5px 3px rgba(213, 213, 213, 0.962);
    color: whitesmoke;
}
h2 {font-size: 2em;
    color: #FFE116;
    padding: 20px 0px;
}
h3 {
    font-size: 2em;
}
h3 a{font-size: 1em;
    color: snow;
    text-decoration: none;
}
h3 a:hover{
    color: snow;
}
p, li  {font-size: 1em;
    color: black;
}
/* HISTORIA */

#historia {
    background-color: #428A24;
    color: white;
    text-align: left;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
}
#historia .texto-historia {
    padding: 0px 20px;
    justify-content: center;
    text-align: justify;
}
.img-container {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 20px 20px;
    max-width: 95vh;
}
.imagen-escuela-historia {
    cursor: pointer;
    border-radius: 5px;
    max-width: 100%;
    max-height: 300px;
}
#img-activa {
    width: 100%;
    max-height: auto;
}
/* VISUALIZADOR DE IMAGENES */
#galeria {
    display: none;
}
#contenedor-ppal-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
.contenedor-interno {
    width: 165vh;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    position: relative;
}
button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
}
#btn-cierra {
    position: absolute;
    top: 30%;
    right: 1%;
    font-size: 1rem;
    text-shadow: 0px 1px 3px black;
}
#btn-retrocede {
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 1rem;
    text-shadow: 0px 1px 3px black;
}
#btn-adelanta {
    position: absolute;
    top: 50%;
    right: 1%;
    font-size: 1rem;
    text-shadow: 0px 1px 3px black;
}
/*MISIÓN Y VISION*/
.contenedor-mv {
    background-color: #FF7428;
    padding-bottom: 50px;
}
#mision-vision h2{
    color: #FFE116;
}
#mision-vision .texto-mision {
    padding: 0px 20px;
    justify-content: center;
    text-align: justify;
}
#mision-vision .texto-mision h2 {
    padding-top: 50px;
}

#mision-vision .texto-vision {
    padding: 0px 20px;
    justify-content: center;
    text-align: justify;
}

/* OBJETIVOS */
#metas {
    background-color: #F93927;
    padding: 50px 20px;
}
#metas h2 {
    padding: 0px 0px 20px 0px;
}
.metas-items {
    text-align: justify;
    font-size: 1em;
    padding-top: 2.5%;
}
#metas .contenedor-img{
    display: none;
}
footer {
    font-size: 0.8em;
    background-color: #F93927;
    text-align: center;
}
/*========== VERSION DESKTOP ====================*/
@media (min-width: 900px) {
    header .contenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color:#FFE116;
        justify-content: space-between;
        padding-right: 20px;
        position: fixed;
        width: 100%;
    }
    header .logo-ppal {
        padding: 10px 20px;
        max-width: 150px;
        height: auto;
        justify-content: start;
    }
    header nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        text-decoration: none;
        padding-bottom: 0px;
    }
    #historia {
        background-color: #428A24;
        color: white;
        text-align: left;
        padding: 50px 0px;
        display: flex;
        flex-direction: row;
        padding-top: 230px;
    }
    #historia .texto-historia {
        padding: 0px 20px;
        justify-content: justify;
        margin-top: 75px;
        text-align: justify;}
    .img-container {
        display: flex;
        justify-content: center;
        padding: 20px 20px;
        max-width: 100%;
        }
    .imagen-escuela-historia {
        cursor: pointer;
        border-radius: 15px;
        max-width: 50vw;
        padding-top: 5px;
    }   
    #mision-vision .texto-mision {
        padding: 0px 20px;
        justify-content: center;
        text-align: justify;
    }
    .contenedor-mv {
        background-color: #FF7428;
        padding-bottom: 50px;
        display: flex;
    }ç
    #mision-vision .texto-vision {
        padding: 0px 20px;
        justify-content: center;
        text-align: justify;
    }
    .texto-vision h2 {
        padding: 50px 0px 20px 0px;
    }
/*objetivos*/
    #metas {
        display: flex;
        flex-direction: row;
    }
    #metas h2 {
        text-align: center;
        padding-top: 5%;
    }
    .metas-items {
        justify-self: center;
        text-align: center;
        margin-left: 50px;
        width: 1000px;
    }
    .metas-items p {
        padding-top: 10px;
        font-size: 1em;
    }
    #metas .contenedor-img {
        display: flex;
        max-width: 50vw;
        padding: 20px 0px;
        justify-content: center;
    }
    .imagen-metas {
        border-radius: 15px;
        max-width: 76%;
    }
    footer {
        font-size: 0.8em;
    }
}
